<p>You are {{username}}</p>

<br />

<form method="POST" style="max-width: 600px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
  <h3>Make an event!</h3>
  <div class="form-group">
    <label>Event name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label>Your name/organization</label>
    <input type="text" name="organizer" class="form-control">
  </div>
  <div class="form-group">
    <label>When</label>
    <input type="date" name="date" class="form-control">
    <input type="time" name="time" class="form-control">
  </div>
  <div class="form-group">
    <label>Where</label>
    <input type="text" name="location" class="form-control">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea type="text-area" name="description" class="form-control" placeholder="Describe what will be taking place during the event and how participants can earn pledge points."></textarea>
  </div>
  <div class="form-group">
    <label>Cause</label>
    <textarea type="text-area" name="cause" class="form-control" placeholder="Be detailed and provide a link to the organization! People want to participate in charity events when the destination of the funds raised is super clear."></textarea>
  </div><br>
  <div class="form-group">
    <label>
    <input type="radio" name="private" value="true" checked> <label>Event is private</label><br>
    <input type="radio" name="private" value="false"> <label>Event is public (anyone can join the event)</label><br>
  </div class="form-group">
  <div class="form-group">
    <label>Measurement of success</label><br>
    <input type="text" name="measurement" class="form-control" list="units" placeholder="kilometers, laps, shots, etc.">
    <datalist id="units">
      <option value="miles">
      <option value="kilometers">
      <option value="laps">
      <option value="points">
      <option value="shots">
      <option value="goals">
    </datalist>
  </div>
  <div class="form-group">
    <button class="btn btn-success">Create</button>
  </div>
</form>
